body{
	background-color: #000;
	padding-top: 60px;
}
body div{
	display: inline-block;
	padding:28px 25px 0px 29px;
	border-radius: 20px;
}

body div div p  {
	font-size: 30px;
}

li{
	font-size: 45px;
}

p:hover{
	background-color: #000;
	color: #fff;
	width: 80%;
	border-radius:10px;
}